<% include  ../partials/header.ejs %>


<div class="container d-flex justify-content-center">

  <a href="https://api.instagram.com/oauth/authorize/?client_id=89000217a44a44798baa947757ac10a3&redirect_uri=http://localhost:3000/authorize_user&response_type=code" class="btn btn-lg text-center mt-5">CLICK HERE TO LOGIN TO INSTAGRAM</a>
  

</div>




<% include  ../partials/footer.ejs %>
