<% include  ../partials/header.ejs %>


<div class="container d-flex justify-content-center">

  <a href="https://www.instagram.com/oauth/authorize?client_id=e427718cbcf74fe2958bb8ca51215113&redirect_uri=https://geraldanosike.github.io/Portfolio&response_type=code
  " class="btn btn-lg text-center mt-5">CLICK HERE TO LOGIN TO INSTAGRAM</a>
  

</div>





<% include  ../partials/footer.ejs %>
